<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stiles.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>Prisma decorations</title>
</head>
<body>  
    <nav>
        <header>
            <section class="grid-layout">
                <div class="caja">
                    <a href="/">
                        <img src="../static/images/LogosWeb.png" alt="Logo Prisma Decorations" class="logo-nav">
                    </a>
                </div>
                <div class="caja">
                    <a href="/" class="link-nav">
                        <h1 class="title">
                            Home
                        </h1>
                    </a>
                </div>
                <div class="caja">
                    <a href="desings.html" class="link-nav">
                        <h1 class="title">
                            Desings
                        </h1>
                    </a>
                </div>
                <div class="caja">
                    <a href="contact.html" class="link-nav">
                        <h1 class="title">
                            Contact
                        </h1>
                    </a>
                </div>
                <div class="caja">
                    <a href="community.html" class="link-nav">
                        <h1 class="title">
                            Community
                        </h1>
                    </a>
                </div>
                <div class="caja">
                    <a href="Catalog.html" class="link-nav">
                        <h1 class="title">
                            Catalog
                        </h1>
                    </a>
                </div>
            </section>
        </header>
    </nav>
</body>
</html>